$gray: #e4e4e4;
$white-gray: #f6f6f6;
$dark-gray: #b3b7b9; 
$radius-md: 0.5rem;
$rounded: 100%;
$padding: 1.5rem;
$font-size-md: 1.5rem;
$font-size-s: 1rem;

.wrapper {
    align-self: start;
}

.button {
    padding: 0.6rem 2rem;
    border-radius: $radius-md;
    cursor: pointer;
    background: $dark-gray;
    color: white;
    border: none;
    font-size: $font-size-s;

    &:hover {
        opacity: 0.9;
    }
    &:active { 
        transform: scale(98%);
    }
    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
}