$gray: #e4e4e4;
$white-gray: #f6f6f6;
$dark-gray: #212529; 
$radius-md: 0.5rem;
$rounded: 100%;
$padding: 1.5rem;
$font-size-md: 1.5rem;
$font-size-s: 1rem;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  
  .button {
    padding: 0.6rem 2rem;
    border-radius: $radius-md;
    cursor: pointer;
    background: $dark-gray;
    color: white;
    border: none;
    align-self: end;

    &:hover {
        opacity: 0.9;
    }
    &:active { 
        transform: scale(98%);
    }
}